@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.app-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.app-container h1{
    font-weight: 600;
    font-size: 18px;
    color: #3498db;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.qr-code-img{
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-label{
    display: block;
    margin-bottom: 8px;
    color: #3498db;
    font-size: 15px;
    font-weight: 500;

}

input[type="text"]{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border:2px solid #3498db;
    border-radius: 5px;
}

button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: backkground-color 0.3s;
}

.gn-btn{
    background-color: #3498db;
}

.gn-btn:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.down-btn{
    background-color: #27ae60;
    margin-left: 10px;
}
.down-btn:hover{
    background-color: #00a344;
}

.footer{
    margin-top:10px ;

} 

.footer a{
    text-decoration: none;
    color: #3498db;
}